
.info-character{
  background-color: darken(#cdcdcd,15%);
  padding: 0px 25px;
  line-height: 2.4em;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100% !important;
  height: 100% !important;
  & span{
    font-size: 24px;
  }
}
@media only screen and (max-width: 500px){
  .info-wrapper{
    display: flex;
    flex-direction: column;
    & .info-character{
      width: 100% !important;
      box-sizing: border-box;
      padding: 0px 2px;
      & span{
        font-size: 16px !important;
      }
      & button{
        margin-bottom: 7px;
        width: 100% !important;
      }
    }
  }
}